{% load django_bootstrap5 %} {% bootstrap_css %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main-page' %}">{{ brand }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users-page' %}">{{ users }}</a>
          <!-- <a class="nav-link" href="#">{{ users }}</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login-page' %}">{{ input }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ reg }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}{% endblock %}
